@import "tailwindcss";

@theme {
    --color-primary: #00754a;
    --color-darkGreen: #1e3932;
    --color-lightGreen: #d4e9e2;
    --color-lightYellow: #faf6ee;
    --color-lightBlue: #dbe6f2;
    --color-darkGray: #545454;
    --color-dark: #1b1e1d;
    --color-light: #ffffff;

    --font-SoDoSans: "SoDoSans", "sans-serif";
    --font-roboto: "Roboto", "sans-serif";
}

@layer base{
 p, li, a {
    @apply text-[16px]
 }

}

@layer components{
    .container{
        @apply max-w-[90rem] p-4 w-full mx-auto;
    }
    .header{
        @apply bg-light shadow-md relative
    }
    .branding{
        @apply md:flex items-center gap-12 py-2
    }
    .branding img{
        @apply w-20
    }
    .header__wrapper{
        @apply flex items-center justify-between
    }
    .branding .header__navd{
        @apply hidden md:flex md:gap-10 
    }
    .branding .header__navd li a{
        @apply font-bold text-sm text-dark hover:text-primary uppercase
    }
    .header__action{
        @apply bg-light absolute top-[73px] right-0 w-0 h-[90vh] px-0 pt-0 overflow-hidden transition-all shadow-md
        md:static md:h-fit md:w-fit md:shadow-none
    }
    .header__action.open{
        @apply w-[80%] px-10 pt-10 transition-all 
    }
    .header__action .header__navm{
        @apply border-b-gray-400 border-b-[2px] pb-5 flex flex-col gap-5 md:hidden
    }
    .header__action .header__navm li:hover a{
        @apply  text-primary
    }
    .header__action .header__navm li a{
        @apply  font-medium text-xl text-dark
    }
    .header__action .header__btn a{
        @apply flex gap-[1rem] items-center hover:text-primary
    }
    
    .header__action .header__signIn{
        @apply flex flex-col pt-2 md:flex md:flex-row gap-5 
    }
    .burger__menu{
        @apply md:hidden
    }
    .burger__menu span{
        @apply w-[1.5rem] h-[.2rem] bg-gray-700 block rounded-full transition-all 
    }
    .burger__menu span:nth-child(2){
        @apply my-1
    }
    .header__wrapper{
        @apply flex items-center justify-between
    }
    .burger__menu.open span:first-child{
        @apply transform translate-y-[9px] rotate-[225deg] transition-all
    }
    .burger__menu.open span:nth-child(2){
        @apply opacity-0 transition-all
    }
    .burger__menu.open span:last-child{
        @apply transform translate-y-[-6px] rotate-[-225deg] transition-all
    }

    /* LINKS */
    .links{
        @apply py-6 px-4 border-t-1 border-t-gray-300
    }
    .links__wrapper{
        @apply flex flex-col gap-5 md:pb-6
        md:grid md:grid-cols-6 
    }
    .links__items ul{
        @apply max-h-0 overflow-hidden transition-all 
        flex flex-col gap-6 md:max-h-[50rem] md:pt-6
    }
    .links__items ul.open{
        @apply max-h-[50rem] transition-all pt-6
    }
    .links__items h4 i.open{
        @apply transform rotate-180 transition-all 
    }
    .links__items h4 i{
        @apply transition-all md:invisible 
    }
    .links__items ul li{
        @apply text-darkGray hover:text-dark
    }
    .links__items ul{
        @apply flex flex-col gap-4 
    }
    .links__items h4{
        @apply flex justify-between items-center md:font-bold md:text-[20px]
    }

    /* FOOTER */
    .footer__socials ul{
        @apply flex gap-7 py-6
    }
    .footer__socials ul li a i{
        @apply text-2xl
    }   
    .copyright {
        @apply flex flex-col gap-4 md:flex md:flex-row
    }

    /* INSTRUCTION - REWARDS */
    .info__wrapper{
        @apply py-16 flex flex-col gap-10 md:gap-16
    }
    .info__cards .info__cardContents{
        @apply flex flex-row gap-5 md:flex md:flex-col md:items-center md:text-center md:gap-10
    }
    .info__number{
        @apply text-primary border-1 rounded-full  border-primary px-4 py-1 h-14 w-14 text-center text-4xl font-bold
    }   
    .info__cards{
        @apply flex flex-col gap-9 md:grid md:grid-cols-3
    }

    /* MENU TAB */
    .menuCoffee__nav{
        @apply bg-lightGreen pt-10 md:pt-12
    }
    .menuCoffee__nav h4{
        @apply text-2xl font-semibold text-center md:mb-[4rem] md:text-3xl
    }
    .menuCoffee__nav ul{
        @apply flex items-center justify-center mt-6
    }
    .menuCoffee__nav ul li{
        @apply px-4 pb-5 border-b-4 border-transparent
    }
    .menuCoffee__nav ul li.active{
        @apply border-b-4 border-primary
    }
    .menuCoffee__nav ul li a{
        @apply text-lg font-semibold md:text-2xl
    }
    .coffee__tab{
        @apply bg-lightBlue relative h-[500px] md:h-[290px]
    }
    .coffee__item{
        @apply absolute opacity-0 transition-all top-8 
        md:grid md:grid-cols-2 md:items-center md:max-w-[50rem] md:left-[25%] md:place-self-center
    }
    .coffee__item.active{
        @apply opacity-100 transition-all
    }
    .coffee__text h5{
        @apply text-xl font-semibold text-center
    }
    .coffee__text p{
        @apply text-center
    }
    .coffee__text{
        @apply flex flex-col gap-4 mt-4
    }
}

@layer utilities{
    .btn-light {
        @apply px-4 py-1 border-[1px] border-dark rounded-full inline-block text-[16px] font-bold hover:bg-darkGray/10
    }
    .btn-dark {
        @apply text-white bg-dark px-4 py-1 border-[1px] border-dark inline-block hover:bg-darkGray rounded-full text-[16px] font-bold
    }
}